# Virtual Environment
venv/
ENV/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# User downloads & temporary files
Downloads/
PlaylistDownloads/
*.mp3
*.mp4
*.webm
*.m4a

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Vercel
.vercel
